<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset "assets/built/index.css"}}" />
    <script src="{{asset "assets/built/index.js"}}" defer></script>
    <title>{{meta_title}}</title>
    {{ghost_head}}
</head>
<body>
    <main class="gh-main">
        {{{body}}}
        {{ghost_foot}}
    </main>
</body>
</html>
